<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Musical space</title>
    <link rel="stylesheet" href="CSS/base.css">
</head>
<body>

<div class="box-container large-container">
    <h1 class="song-title" th:text="${playlistTitle}"></h1>
    <p class="song-detail" th:text="${emptyMessage}"></p>
    <table>
        <tr>
            <td th:each="song: ${songs}">
                <img class="song-thumbnail-small"
                     th:src="@{/GetSongThumbnail(songThumbnailId=${song.thumbnailId})}"
                     src="https://images.unsplash.com/photo-1627665048385-1e45ddb02314?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=80"><br>
                <a th:href="@{/GoToSongPage(songId=${song.songId})}" th:text="${song.title}" class="black-link">Song
                    Title</a></td>
        </tr>
    </table>
    <div class="two-column">
        <form th:action="@{/GoToPlaylistPage}" method="get" class="form-root"
              th:classappend="${hasPrevious} ? displayed : hidden">
            <input type="hidden" name="playlistId" th:value="${playlistId}">
            <input type="hidden" name="offset" th:value="${previousOffset}-5">
            <button>Previous</button>
        </form>

        <form th:action="@{/GoToPlaylistPage}" method="get" class="form-root"
              th:classappend="${hasNext} ? displayed: hidden">
            <input type="hidden" name="playlistId" th:value="${playlistId}">
            <input type="hidden" name="offset" th:value="${previousOffset}+5">
            <button>Next</button>
        </form>
    </div>

    <a th:href="@{/Home}" class="black-link">Home</a>
</div>
<div class="box-container" th:classappend="${hasSongsThatCanBeAdded} ? displayed: hidden">
    <form method="post" action="AddSongToPlaylist" class="form-root">
        <select id="songToBeAdded" name="songToBeAdded" class="form-input">
            <option th:each="s: ${userSongs}" th:value="${s.songId}" th:text="${s.title}">Song title</option>
        </select><br>
        <input type="hidden" id="playlistId" name="playlistId" th:value="${playlistId}">
        <button>Add song to the playlist</button>
    </form>
</div>
</body>
</html>